@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* CSS Document */
@import "./mixins.scss";
@import "./css-spinner";
@import "./variables.scss";

body.basictorso
{
	@include extendFlex($zp);
	@include fontSmooth();
}

.commentBox {
	color: blue;
}

th, td {
	vertical-align: middle !important;
	text-align: center !important;
}

td.google-maptd {
	height: 200px;
	width: 250px;
}

footer.navbar-fixed-bottom {
	background-color: $bgColor;
	div.col-md-6 {
		text-align: center;
	}
}

@import "./mq.scss";